<div>
    <rs-header>Авторизация</rs-header>
    <ion-view>
        <ion-content class="has-header" scroll="true" ng-show="!globals.isMobilePhoneChangingEnabled && !user.hasMobileTelephone">
            <div class="text-15px text-667980 text-align-center inform-messages-login"
                 ng-bind-html="messageForBanMobile"></div>
        </ion-content>
        <ion-content class="has-header" scroll="true" ng-hide="!globals.isMobilePhoneChangingEnabled && !user.hasMobileTelephone"
                     ng-init="initChangeLoginPasswordPage()">
            <div class="text-15px text-667980 text-align-center create-new-pass-login"
                 ng-bind="user.title">
            </div>
            <div class="text-15px text-667980 text-align-center inform-messages-login"
                 ng-if="user.subTitle" ng-bind="user.subTitle"></div>
            <div class="list-block" ng-if="user.changePassword">
                <ul class="item-title-label-width50pc">
                    <li ng-show="user.changeLogin">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label text-15px text-gray" style="width: 45%;">Логин</div>
                                <div class="item-input" ng-init="user.newLogin = user.login">
                                    <input type="text" ng-model="user.newLogin"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li ng-show="user.requireOldPassword">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label text-15px text-gray" style="width: 45%;">Старый пароль
                                </div>
                                <div class="item-input">
                                    <input input-clear-btn type="password" ng-model="user.oldPassword"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label text-15px text-gray" style="width: 45%;">Новый пароль</div>
                                <div class="item-input">
                                    <input input-clear-btn type="password" ng-model="user.newPassword1"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label text-15px text-gray" style="width: 45%;">Пароль еще раз
                                </div>
                                <div class="item-input">
                                    <input input-clear-btn type="password" ng-model="user.newPassword2"/>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block" ng-if="!user.hasMobileTelephone">
                <ul class="item-title-label-width50pc">
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label text-15px text-gray" style="width: 55%;">Мобильный
                                    телефон
                                </div>
                                <div class="item-input">
                                    <input input-clear-btn
                                           type="text"
                                           mask-clean="true"
                                           mask-restrict="reject"
                                           mask="(999) 999-99-99"
                                           ng-model="user.mobileTelephone"/>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="falsch-butt-in"></div>
        </ion-content>
        <button class="btn-in" ng-click="changeLoginPassword()"
                ng-hide="!globals.isMobilePhoneChangingEnabled && !user.hasMobileTelephone">Продолжить</button>
    </ion-view>
</div>