<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
        <title>MTS Cordova Prototype</title>
        <link rel="stylesheet" type="text/css" href="/www/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/www/css/icons-android.css" />
        <link rel="stylesheet" type="text/css" href="/www/css/android-style.css" />
        <link rel="stylesheet" type="text/css" href="/www/css/windowsphone-adaptive-style.css" />
        <script type="text/javascript" src="/www/lib/jquery.js"></script>
        <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
        <script type="text/javascript" src="/www/js/ymaps.js"></script>
        <style type="text/css">
            html {
                -ms-touch-action: none;
                touch-action: none;
            }
        </style>
    </head>
    <body id="ymaps" style="width: 100vw; height: 100vh; margin: 0;">
    </body>
</html>
