<div>
    <rs-header lbtn-class="icon-close"
               rbtn-class="icon-check-mark" rbtn-action="changePassword()">Сменить пароль</rs-header>
    <ion-view>
        <ion-content class="has-header bg-f0f4f5">
            <rs-panel>
                <div class="text-15px text-667980 text-align-center" style="margin-bottom: 20px;" ng-bind="messageForChangePassword"></div>
                <div class="list-block" style="margin: 0;">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label text-15px">Текущий пароль</div>
                                    <div class="item-input" style="padding-left: 0;">
                                        <input input-clear-btn style="color: #202426; font-size: 15px;" type="password" ng-model="user.oldPassword"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label text-15px">Новый пароль</div>
                                    <div class="item-input" style="padding-left: 0;">
                                        <input input-clear-btn style="color: #202426; font-size: 15px;" type="password" ng-model="user.newPassword1"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label text-15px">Повторить пароль</div>
                                    <div class="item-input" style="padding-left: 0;">
                                        <input input-clear-btn style="color: #202426; font-size: 15px;" type="password" ng-model="user.newPassword2"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </rs-panel>
        </ion-content>
    </ion-view>
</div>