<div ui-view="login-view">
    <rs-header>Авторизация</rs-header>
    <ion-view>
        <ion-content class="has-header" ng-show="!globals.isMobilePhoneChangingEnabled && !user.hasMobileTelephone">
            <div class="text-15px text-667980 text-align-center inform-messages-login"
                 ng-bind-html="messageForBanMobile"></div>
        </ion-content>
        <ion-content class="has-header" ng-hide="!globals.isMobilePhoneChangingEnabled && !user.hasMobileTelephone"
                     ng-init="initChangeLoginPasswordPage()">
            <rs-panel header-text="{{user.title}}">
                <div class="rs-message-version text-align-center"
                     ng-if="user.subTitle" ng-bind="user.subTitle">
                </div>
                <div class="md-input-container-shadow" ng-if="user.changePassword">
                    <md-input-container style="padding-bottom: 0;" ng-show="user.changeLogin" ng-init="user.newLogin = user.login">
                        <label>Логин</label>
                        <input ng-model="user.newLogin">
                    </md-input-container>
                    <md-input-container ng-show="user.requireOldPassword">
                        <label>Старый парол</label>
                        <input ng-model="user.oldPassword" type="password">
                    </md-input-container>
                    <md-input-container>
                        <label>Новый пароль</label>
                        <input ng-model="user.newPassword1" type="password">
                    </md-input-container>
                    <md-input-container>
                        <label>Пароль еще раз</label>
                        <input ng-model="user.newPassword2" type="password">
                    </md-input-container>
                </div>
            </rs-panel>
            <rs-panel ng-if="!user.hasMobileTelephone">
                <div class="md-input-container-shadow">
                    <md-input-container style="padding-bottom: 0;" >
                        <label>Мобильный телефон</label>
                        <input type="text"
                               mask-clean="true"
                               mask-restrict="reject"
                               mask="(999) 999-99-99"
                               ng-model="user.mobileTelephone">
                    </md-input-container>
                </div>
            </rs-panel>
        </ion-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-hide="!globals.isMobilePhoneChangingEnabled && !user.hasMobileTelephone">
            <md-button class="md-raised rs-button" ng-click="changeLoginPassword()">Продолжить</md-button>
        </section>
    </ion-view>
</div>