<div>
    <rs-header>Начисления</rs-header>
    <ion-view>
        <ion-content class="has-header bg-f0f4f5">

            <div class="rs-content-panel">
                <div class="rs-content-panel-header text-12px" style="text-transform: none; text-align: justify; font-size: 12px;">
                    Если Вы хотите получать информацию о различных начислениях, задолженностях, штрафах ГИБДД и т.п. - укажите свои данные. Также у Вас появится возможность, при желании, оплачивать задолженность автоматически.
                </div>
            </div>

            <div class="list-block" style="margin: 0;">
                <ul>
                    <rs-select header-text="Начисления МГТС" header-class="text-black" ui-sref="mgtspaymentlist"></rs-select>
                </ul>
            </div>

        </ion-content>
    </ion-view>
</div>