<div ng-controller="LoanRequisitesCtrl as loanRequisitesCtrl">
    <ion-view>
        <rs-header rbtn-class="icon-send" rbtn-action="openPopover($event)">Реквизиты для погашения</rs-header>
        <ion-content class="has-header">

            <script id="templates/loan/popover.html" type="text/ng-template">
                <ion-popover-view>
                    <ion-content scroll="false">
                        <div class="list-block list-block-separator-hidden" style="font-size: large !important;">
                            <ul>
                                <li class="item-content" ng-click="popoverSendSMS()">
                                    <div class="item-inner">Отправить по СМС</div>
                                </li>
                                <li ng-if="retailClientEmail" class="item-content" ng-click="popoverSendEmailClient()">
                                    <div class="item-inner">{{retailClientEmail}}</div>
                                </li>
                                <li class="item-content" ng-click="popoverOpenInputEmail()">
                                    <div class="item-inner">Отправить на e-mail</div>
                                </li>
                            </ul>
                        </div>
                    </ion-content>
                </ion-popover-view>
            </script>

            <div class="list-block" style="margin:0;">
                <div class="list-group">
                    <ul>
                        <li>
                            <rs-product product="loan"></rs-product>
                        </li>
                    </ul>
                </div>
            </div>
            <rs-panel ng-if="!loan.requisites">
                <div rs-waiter="loan.requisites"></div>
            </rs-panel>
            <div ng-if="loan.requisites" class="list-block" style="margin: 0;">
                <rs-panel header-text="{{loan.requisites.bankDataLabel}}">
                    <ul>
                        <fw7-li ng-repeat="requisite in loan.requisites.propertiesBank"
                                title="{{requisite.first}}"
                                multiline="true">
                            {{requisite.second}}
                        </fw7-li>
                    </ul>
                </rs-panel>
                <rs-panel header-text="{{loan.requisites.accountDataLabel}}">
                    <ul>
                        <fw7-li ng-repeat="requisite in loan.requisites.propertiesAccount"
                                title="{{requisite.first}}"
                                multiline="true">
                            {{requisite.second}}
                        </fw7-li>
                    </ul>
                </rs-panel>
            </div>
        </ion-content>
    </ion-view>
</div>