<div>
    <rs-header lbtn-class="icon-close"      lbtn-action="goBackFromField()"
               rbtn-class="icon-check-mark" rbtn-action="changeTransportPass()">Транспортное средство</rs-header>
    <ion-view>
        <ion-content class="has-header personal-page">
            <rs-panel>
                <div class="list-block next-block">
                    <ul>
                        <li>
                            <div class="item-content item-inner">
                                <div class="item-inner">
                                    <div class="table-fixed-width100pc">
                                        <div class="table-row">
                                            <div class="table-cell text-gray text-13px">Гос. номер</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <input type="text"
                                                       mask-restrict="reject"
                                                       mask="D999DD999?"
                                                       ng-model="retailClient.transportPass.stateNumber"
                                                       style="color: #202426; font-size: 15px; padding: 0; height: 100%; border-bottom: 1px solid rgba(0, 0, 0, 0.16);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-inner">
                                <div class="item-inner">
                                    <div class="table-fixed-width100pc">
                                        <div class="table-row">
                                            <div class="table-cell text-gray text-13px">Номер свидетельства</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <input type="text"
                                                       mask-restrict="reject"
                                                       mask="**** 999999"
                                                       ng-model="retailClient.transportPass.docNumber">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </rs-panel>
        </ion-content>
        <div class="rs-button-del flex flex-center flex-middle" ng-click="deleteTransportPass()">Удалить</div>
    </ion-view>
</div>