@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Build Your Dream") {
    <script type='text/javascript'>
            function build(){
                $("#img").show()
                $("#bb").hide()
                $("#status").text("Build started");
                setInterval(getProgress, 3000)
            }

            function changeName(server){

                if (server === "OPE"){
                    $("#s-name").val("MobilePrototype2OPE.ipa")
                    $("#p-profile").val("2848f246-b7d5-4168-801d-8393efb92221")
                } else if (server === "FT"){
                    $("#s-name").val("MobilePrototype2.ipa")
                    $("#p-profile").val("2848f246-b7d5-4168-801d-8393efb92221")
                }else {
                    $("#p-profile").val("c9d2d32e-c2d8-4312-817e-20ccf6098cb7")
                    $("#s-name").val("ios-demo.ipa")
                }
            }

    </script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

    <div class="root">
        <div class="waiter">
            <img id="img" src="https://media.giphy.com/media/sVkjSzxoeAWDC/giphy.gif">
        </div>
        <div class="trow">
            <div id="status" class="half">@message</div>
            <div id="progress" class="half"></div>
        </div>

        <form id="main" action="@routes.Application.build()" method = "post" style="color: goldenrod">
            <div>

                <div class="trow">
                    <div class="half">Output file name</div>
                    <div class="half">
                        <input class="rinput" id="s-name" type="text" name="outIpaName" value="MobilePrototype2.ipa">
                    </div>
                </div>
                <div class="p-p trow">
                    <div class="half">
                        Provisioning profile:
                    </div>
                    <div class="half">
                        <select class="rinput" name="uuid" id="p-profile">
                        </select>
                    </div>
                </div>
                <div class="server trow">
                    <div class="server-title half">Server:</div>
                    <div class="half">
                        <div>
                            <input type="radio" onclick="changeName('FT')"
                            name="server" value="FT" checked="true" title="FT">FT
                        </div>
                        <div>
                            <input type="radio" onclick="changeName('OPE')" name="server" value="OPE" title="OPE">
                            OPE
                        </div>
                        <div>
                            <input type="radio" onclick="changeName('DEMO')" name="server" value="DEMO" title="Demo">
                            Demo
                        </div>
                    </div>
                </div>
                <div class="trow">
                    <div class="half">Add Platform</div>
                    <div class="half"><input type="checkbox" checked="true" name="reAddPlatform"></div>
                </div>
                <div class="trow">
                    <div class="half">Rebuild Project</div>
                    <div class="half"><input type="checkbox" checked="true" name="buildProject"></div>
                </div>
                <div class="trow">
                    <div class="half">Upload to Dropbox</div>
                    <div class="half"><input type="checkbox" name="uploadToDropbox"></div>
                </div>

                <button id="bb" class="bb" onclick='build()'>Build</button>
            </div>
        </form>
    </div>

}
