<div ng-controller="ChangePasswordCtrl">
    <rs-header>Вам необходимо изменить пароль</rs-header>
    <div class="content no-footer">
        <div class="padding-5px">
            <div ng-show="requireOldPassword">
                <label>Старый пароль</label>
                <input input-clear-btn type="password" name="oldPassword" ng-model="$parent.oldPassword"/>
                <br>
            </div>
            <label>Новый пароль</label>
            <input input-clear-btn type="password" name="newPassword" ng-model="newPassword"/>
            <br>
            <label>Еще раз новый пароль</label>
            <input input-clear-btn type="password" name="reNewPassword" ng-model="reNewPassword"/>
            <br>
            <button ng-click="changePassword()">Изменить</button>
        </div>
        <div otp is-visible="isShowOTP" actionId="ChangePasswordAction" methodName="changePassword" args="args"></div>
    </div>
</div>