<rs-header>Полная задолженность</rs-header>
<div class="content no-footer">
    <div class="padding-7px text-12px">
        <div class="padding-5px table-fixed-width100pc">
            <div class="table-cell width100pc"><span>Полная задолженность</span></div>
            <div class="table-cell relative nowrap"><span class="absolute right">{{loan.currentDebt}}</span></div>
        </div>
        <div class="padding-5px table-fixed-width100pc">
            <div class="table-cell width100pc"><span>В том числе основной долг</span></div>
            <div class="table-cell relative nowrap"><span class="absolute right">60 000 ₽</span></div>
        </div>
        <div class="padding-5px table-fixed-width100pc">
            <div class="table-cell width100pc"><span>В том числе проценты</span></div>
            <div class="table-cell relative nowrap"><span class="absolute right">40 000 ₽</span></div>
        </div>
        <div class="padding-5px table-fixed-width100pc">
            <div class="table-cell width100pc"><span>Комиссии</span></div>
            <div class="table-cell relative nowrap"><span class="absolute right">40 000 ₽</span></div>
        </div>
        <div class="padding-5px table-fixed-width100pc">
            <div class="table-cell width100pc"><span>Штрафы и платы</span></div>
            <div class="table-cell relative nowrap"><span class="absolute right">140 000 ₽</span></div>
        </div>
        <div class="padding-5px table-fixed-width100pc">
            <div class="table-cell width100pc"><span>Просроченная задолженность</span></div>
            <div class="table-cell relative nowrap"><span class="absolute right">40 000 ₽</span></div>
        </div>
        <div class="padding-5px table-fixed-width100pc">
            <div class="table-cell width100pc"><span>Иные расходы</span></div>
            <div class="table-cell relative nowrap"><span class="absolute right">140 000 ₽</span></div>
        </div>
    </div>

    <div class="padding-5px table-fixed-width100pc">
        <div ui-sref="loan.newpayment" class="table-cell width100pc nowrap overflow-hidden solid-border-1px gray-border padding-5px"><span>Погасить досрочно</span></div>
        <div class="table-cell relative nowrap empty-border-1px padding-5px"><span class="absolute right right-padding-5px">&gt;</span></div>
    </div>

    <div class="padding-5px table-fixed-width100pc top-margin-15px">
        <div class="table-cell width100pc nowrap overflow-hidden solid-border-1px gray-border padding-5px"><span>Сохранить в pdf</span></div>
        <div class="table-cell relative nowrap empty-border-1px padding-5px"><span class="absolute right right-padding-5px">&gt;</span></div>
    </div>
    <div class="padding-5px table-fixed-width100pc">
        <div class="table-cell width100pc nowrap overflow-hidden solid-border-1px gray-border padding-5px"><span>Отправить по e-mail</span></div>
        <div class="table-cell relative nowrap empty-border-1px padding-5px"><span class="absolute right right-padding-5px">&gt;</span></div>
    </div>
</div>
