<div ng-controller="StartCtrl" class="start-page">
    <div id="startpage-img-gallery" class="owl-carousel">
        <div class="slide1"></div>
        <div class="slide2"></div>
        <div class="slide3"></div>
    </div>
    <div id="startpage-text-gallery" class="owl-carousel">
        <div class="gallery-text-item">
            <div class="slider-text-big">Мобильные деньги</div>
            <div class="slider-text-small">Контролируй свои финансы</div>
        </div>
        <div class="gallery-text-item">
            <div class="slider-text-big">Быстрые переводы</div>
            <div class="slider-text-small">Расстояния не важны</div>
        </div>
        <div class="gallery-text-item">
            <div class="slider-text-big">Легкие платежи</div>
            <div class="slider-text-small">Удобство в одно касание</div>
        </div>
    </div>

    <div class="mts-logo"/>
    <div class="icon-menu icon-menu-main" ng-click="menu.show()"/>

    <button class="btn-how" ui-sref="howToConnect">Узнайте, как подключиться</button>
    <button class="btn-in" ui-sref="login.password">Войти</button>
</div>
