
#main {
    /*width : 250px;*/
}
.root{
    position:fixed ; top:20% ; left:30% ; width: 400px ;
}
.waiter {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    margin-left: 80%;
}
#img {
    width: 100px;
    height: 80px;
    border-radius: 20px;
    margin-left: 80%;
    display: none;
}
.trow .half {
    float:left;
    width:50%;

}
.rinput{
    width: 100%;
    border-radius: 5px;
}
.trow {
    height: 20px;
}
.server {
    height: 60px;
}
.bb {
    margin-top: 15px;
    width: 100%;
    height:50px;
    background-color: lime;
    font-size: 20px;
    border-radius: 22px;
}
#status {
    color: chartreuse;
}
#progress {
    color: chartreuse;
}