<div class="no-shadow">
    <rs-header>Район</rs-header>
    <ion-view>
        <ion-content class="has-header bg-f0f4f5">
            <div class="searchbar searchbar-init">
                <div class="searchbar-input">
                    <input type="search" ng-model="searchText"
                           class="width100pc solid-border-1px gray-border border-box text-14px icon-search-input"
                           placeholder="Район"/>
                    <a href="#" class="searchbar-clear"></a>
                </div>
            </div>
            <rs-panel>
                <div class="list-block list-block-separator-hidden" style="margin: 0;">
                    <ul>
                        <li class="item-content fw7-li-select"
                            ng-click="deleteArea()">

                            <div class="item-inner">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="item-title">По всем районам</div>
                                    </div>
                                    <div class="table-row fw7-li-content-text">
                                        <span>Отменить выбранный район</span>
                                    </div>
                                </div>
                                <div class="item-after" ng-if="!selectedAddress.area">
                                    <div class="icon-selected"></div>
                                </div>
                            </div>
                        </li>

                        <li class="item-content fw7-li-select"
                            ng-repeat="area in addressList | rsUnique:'area' | isNotEmpty:'area' | orderBy:'area'"
                            ng-click="selectArea(area)">

                            <div class="item-inner">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="item-title">{{area.area}}</div>
                                    </div>
                                    <div class="table-row fw7-li-content-text">
                                        <span>{{area | addressElement:'area'}}</span>
                                    </div>
                                </div>
                                <div class="item-after" ng-if="(area.coderegion == selectedAddress.coderegion && area.area == selectedAddress.area)">
                                    <div class="icon-selected"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </rs-panel>
        </ion-content>
    </ion-view>
</div>